<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <h1>Homepage</h1>
    <ul style="list-style-type: none">
      <a href="./about"><li>About</li></a>
      <a href="./contact"> <li>Contact</li></a>
      <a href="./subscribe"> <li>Subscribe</li></a>
      <a href="./news"> <li>News</li></a>
      <a href="./bio"><li>Bio (redirect to About)</li></a>
      <a href="./404"> <li>404 Page</li></a>
      <a href="./nocontent"><li>No content error code</li></a>
      <a href="./refused"><li>Don't click if you're not Glen.</li></a>
    </ul>
  </body>
</html>
